/* style.css */

/* Default styles */

body {
    font-family: -apple-system, BlinkMacSystemFont;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    height: 150px;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 1em;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background 0.3s ease;
}

header nav ul li a:hover {
    background-color: #555;
    border-radius: 4px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}

.about,
.directions,
.contact {
    background-color: #fff;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2,
h3 {
    color: #333;
}

iframe {
    width: 100%;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5em 0 0.2em;
}

form input,
form textarea {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 0.7em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

footer p {
    margin: 0;
}

/* Media queries for mobile screens */

@media only screen and (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: center;
    }

    .logo-title {
        margin-bottom: 1em;
    }

    .logo {
        height: 100px;
        margin-right: 0;
    }

    header h1 {
        font-size: 1.5em;
        text-align: center;
    }

    header nav ul {
        margin-top: 1em;
    }

    header nav ul li {
        margin: 0.5em;
    }

    .container {
        padding: 1em;
    }

    .about,
    .directions,
    .contact {
        margin: 1em 0;
        padding: 1em;
    }

    iframe {
        height: 300px;
    }

    form input,
    form textarea,
    form button {
        width: 100%;
    }
}